/* Colors */
/**** FONT PROPERTIES *****/
body {
  font-family: "roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: black;
}

.fa-heart {
  font-size: 22px;
}

.fa-utensils {
  font-size: 13px;
  margin-right: 11px;
}

.fa-handshake-angle {
  font-size: 12px;
  margin-right: 8px;
}

/**** Typography ****/
h1, h2, h3, p {
  margin: 0;
}

.restaurant__title {
  font-family: "shrikhand", sans-serif;
}

.fonctionnement-choice__number, .restaurant-card__sticker {
  font-size: 14px;
}

.menu-card__subtitle {
  font-size: 15px;
}

.search-bar__txt, .button, .fonctionnement-choice__txt, footer li, .menu-card__header {
  font-size: 16px;
}

.restaurant-card__subtitle {
  font-size: 17px;
}

.reservation__subtitle, .restaurant-card__title, .menu-card__title {
  font-size: 18px;
}

.section-title {
  font-size: 24px;
}

.restaurant__title {
  font-size: 28px;
}

.reservation__subtitle, .restaurant-card__subtitle, .menu-card__header, .menu-card__subtitle {
  font-weight: 300;
}

.restaurant__title {
  font-weight: 400;
}

.search-bar__txt, .button, .fonctionnement-choice__number, .fonctionnement-choice__txt, footer li, .menu-card__title {
  font-weight: 500;
}

.section-title, .restaurant-card__title, .menu-card__price {
  font-weight: 700;
}

/***** Marges ****/
.section-restaurant-title {
  margin-bottom: 8px;
}

.button {
  position: relative;
  align-self: center;
  padding: 13px 18.75px;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #ff79da, #9356dc);
  color: white;
  transition: transform 250ms;
  z-index: 1;
}
.button:hover::after {
  opacity: 0.2;
}
.button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.55);
  border-radius: 25px;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
.button--command {
  padding: 16px 49px;
}

.fonctionnement-choice {
  position: relative;
  display: flex;
  align-items: center;
  padding: 28px 35px 28px 35px;
  margin-left: 12px;
  gap: 23px;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.fonctionnement-choice__number {
  position: absolute;
  left: -12px;
  border-radius: 30px;
  padding: 5px 8px 4px;
  color: white;
  background-color: #9356dc;
}
.fonctionnement-choice__icon {
  font-size: 16px;
}
.fonctionnement-choice__icon--inactive {
  color: #7e7e7e;
}
.fonctionnement-choice__icon--selected {
  color: #9356dc;
}
.restaurant-card {
  position: relative;
  border-radius: 15px;
  background-color: white;
}
.restaurant-card__sticker {
  position: absolute;
  top: 13px;
  right: 12px;
  padding: 7px 13px;
  border-radius: 2px;
  background-color: #99e2d0;
  color: #2c9c81;
}
.restaurant-card__img {
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-position: 0% 60%;
  width: 100%;
  height: 167px;
}
.restaurant-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 25px 18px 13px;
}
.restaurant-card__txt {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu-card__header {
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 5px;
  width: 40px;
}
.menu-card__choice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  overflow: hidden;
}
.menu-card__choice:hover .menu-card__anim {
  width: 20%;
}
.menu-card__choice:hover .menu-card__icon {
  opacity: 1;
}
.menu-card__anim {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 0%;
  height: 67.5px;
  background-color: #99e2d0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: all 300ms;
}
.menu-card__icon {
  color: white;
  width: 100%;
  opacity: 0;
  transition: opacity 300ms 100ms;
}
.menu-card__txt {
  display: flex;
  flex-direction: column;
  width: 85%;
  gap: 5px;
  padding: 12px 0 12px 15px;
  overflow: hidden;
}
.menu-card__title, .menu-card .menu-card__subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-card__price {
  width: 15%;
  padding: 12px 15px 12px 5px;
  text-align: center;
}

.menu-card__header {
  animation: header-translate 300ms ease-out;
}
.menu-card__choice--1 {
  animation: progress-choice 300ms 200ms backwards;
}
.menu-card__choice--1 .menu-card__txt, .menu-card__choice--1 .menu-card__price {
  animation: progress-txt 300ms 200ms backwards;
}
.menu-card__choice--2 {
  animation: progress-choice 500ms 350ms backwards;
}
.menu-card__choice--2 .menu-card__txt, .menu-card__choice--2 .menu-card__price {
  animation: progress-txt 300ms 350ms backwards;
}
.menu-card__choice--3 {
  animation: progress-choice 500ms 500ms backwards;
}
.menu-card__choice--3 .menu-card__txt, .menu-card__choice--3 .menu-card__price {
  animation: progress-txt 300ms 500ms backwards;
}

@keyframes progress-choice {
  0% {
    transform: translatex(-500px);
  }
  100% {
    transform: translatex(1);
  }
}
@keyframes progress-txt {
  0% {
    transform: translatex(-500px);
    opacity: 0;
  }
  40% {
    transform: translateX(-500px);
  }
  60% {
    opacity: 0;
  }
  100% {
    transform: translatex(1);
    opacity: 1;
  }
}
@keyframes header-translate {
  0% {
    transform: translatex(1000px);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    transform: translatex(1);
    opacity: 1;
  }
}
.heart-anim__empty {
  position: absolute;
  right: 17px;
}
.heart-anim__fill {
  color: transparent;
  background-image: linear-gradient(180deg, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  position: absolute;
  right: 17px;
  opacity: 0;
  transition: all 300ms;
}
.heart-anim__fill:hover, .heart-anim__fill .heart-anim__fill {
  opacity: 1;
}
.heart-anim--position {
  right: 25px;
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  width: 100%;
  background-color: #f6f6f6;
  animation: translate-loader 3500ms forwards;
}
.loader__shadows {
  display: flex;
}
.loader__icon {
  font-size: 22px;
  margin: 10px;
}
.loader__icon--shadow {
  z-index: -1;
  margin: 8px;
  background-color: grey;
  border-radius: 30px;
  filter: blur(6px);
  width: 30px;
  height: 4px;
}
.loader__icon--shadow--1 {
  animation: shadow-opacity 1200ms ease-in-out infinite;
}
.loader__icon--shadow--2 {
  animation: shadow-opacity 1200ms 100ms ease-in-out infinite;
}
.loader__icon--shadow--3 {
  animation: shadow-opacity 1200ms 200ms ease-in-out infinite;
}
.loader__icon--shadow--4 {
  animation: shadow-opacity 1200ms 300ms ease-in-out infinite;
}
.loader__icon--shadow--5 {
  animation: shadow-opacity 1200ms 400ms ease-in-out infinite;
}
.loader__icon--1 {
  color: #9356dc;
  animation: translate-ball 1200ms ease-in-out infinite;
}
.loader__icon--2 {
  color: #ff79da;
  animation: translate-ball 1200ms 100ms ease-in-out infinite;
}
.loader__icon--3 {
  color: #9356dc;
  animation: translate-ball 1200ms 200ms ease-in-out infinite;
}
.loader__icon--4 {
  color: #ff79da;
  animation: translate-ball 1200ms 300ms ease-in-out infinite;
}
.loader__icon--5 {
  color: #99e2d0;
  animation: translate-ball 1200ms 400ms ease-in-out infinite;
}

@keyframes translate-ball {
  0% {
    transform: translateY(20px);
    transform-origin: 100%;
  }
  25% {
    transform: translateY(-40px);
    transform-origin: 100%;
  }
  45% {
    transform: translateY(20px);
    transform-origin: 100%;
  }
  100% {
    transform: translateY(20px);
    transform-origin: 100%;
  }
}
@keyframes shadow-opacity {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes translate-loader {
  0% {
    transform: translateX(0);
  }
  99% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-9999px);
  }
}
.header, .header--boxshadow {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 0 11px;
}
.header--boxshadow {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header__logo {
  width: 162px;
}
.header__icon {
  position: absolute;
  left: 17px;
  top: 40%;
}

.footer {
  padding: 22px 25px;
  background-color: #353535;
}
.footer__title {
  font-family: "shrikhand";
  font-size: 18px;
  color: white;
}
.footer__list {
  list-style-type: none;
  padding-left: 0;
}
.footer__row {
  display: flex;
  align-items: center;
}
.footer__icon {
  color: white;
}
.footer__txt {
  color: white;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  padding: 15.5px;
  background-color: #eaeaea;
}

.reservation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 39px 32px 57px;
  gap: 23px;
  text-align: center;
  background-color: #f6f6f6;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 48px 20px 68px;
  gap: 35px;
}
.fonctionnement__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding: 54px 20px 66px 20px;
  gap: 18px;
  background-color: #f6f6f6;
}

.restaurant__container {
  position: relative;
}
.restaurant__img {
  object-fit: cover;
  width: 100%;
  height: 275px;
}
.restaurant__menu {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 32px 17px 55px;
  gap: 40px;
  background-color: #f6f6f6;
  margin-top: -26px;
}
.restaurant__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant__icon {
  font-weight: 300;
}

/*# sourceMappingURL=style.css.map */
