@charset "UTF-8";
/* Colors */
/**** FONT PROPERTIES *****/
body {
  font-family: "roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: black;
}

/**** Typography ****/
h1, h2, h3, p {
  margin: 0;
}

.fonctionnement-choice__number {
  font-size: 14px;
}

.menu-card__subtitle {
  font-size: 15px;
}

.search-bar__txt, .button, .fonctionnement-choice__txt, footer li, .menu-card__header {
  font-size: 16px;
}

.restaurant-card__subtitle {
  font-size: 17px;
}

.reservation__subtitle, .restaurant-card__title, .menu-card__title {
  font-size: 18px;
}

.section-title {
  font-size: 24px;
}

.restaurant__title {
  font-size: 28px;
}

.reservation__subtitle, .restaurant-card__subtitle, .menu-card__header, .menu-card__subtitle {
  font-weight: 300;
}

.restaurant__title {
  font-weight: 400;
}

.search-bar__txt, .button, .fonctionnement-choice__number, .fonctionnement-choice__txt, footer li, .menu-card__title {
  font-weight: 500;
}

.section-title, .restaurant-card__title {
  font-weight: 700;
}

/**** Règles à répartir *****/
.restaurant__title {
  font-family: "shrikhand", sans-serif;
}

footer {
  color: white;
  background-color: #353535;
}

.restaurant-card__img {
  height: 231px;
}

.restaurant__img {
  height: 275px;
}

.button {
  padding: 13px 18.75px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  color: white;
}

.fonctionnement-choice {
  position: relative;
  display: flex;
  align-items: center;
  padding: 28px 35px 28px 35px;
  margin-left: 12px;
  gap: 23px;
  border-radius: 20px;
  background-color: rgb(246, 246, 246);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.fonctionnement-choice__number {
  position: absolute;
  left: -12px;
  border-radius: 30px;
  padding: 5px 8px 4px;
  color: white;
  background-color: #9356DC;
}
.fonctionnement-choice__icon {
  font-size: 16px;
}
.fonctionnement-choice__icon--inactive {
  color: rgb(126, 126, 126);
}
.fonctionnement-choice__icon--selected {
  color: #9356DC;
}
.header, .header--boxshadow {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 0 11px;
}
.header--boxshadow {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header__logo {
  width: 162px;
}
.header__icon {
  position: absolute;
  left: 17px;
  top: 40%;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  padding: 15.5px;
  background-color: rgb(234, 234, 234);
}

.reservation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 39px 32px 57px;
  gap: 23px;
  text-align: center;
  background-color: rgb(246, 246, 246);
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 48px 20px 68px;
  gap: 35px;
}
.fonctionnement__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.restaurants {
  background-color: rgb(246, 246, 246);
}/*# sourceMappingURL=main.css.map */