/* Colors */
/**** FONT PROPERTIES *****/
body {
  font-family: "roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: black;
}

.fa-heart {
  font-size: 22px;
}

.fa-utensils {
  font-size: 13px;
  margin-right: 11px;
}

.fa-handshake-angle {
  font-size: 12px;
  margin-right: 8px;
}

/**** Typography ****/
h1, h2, h3, p {
  margin: 0;
}

.restaurant__title {
  font-family: "shrikhand", sans-serif;
}

.fonctionnement-choice__number {
  font-size: 14px;
}

.menu-card__subtitle {
  font-size: 15px;
}

.search-bar__txt, .button, .fonctionnement-choice__txt, footer li, .menu-card__header {
  font-size: 16px;
}

.restaurant-card__subtitle {
  font-size: 17px;
}

.reservation__subtitle, .restaurant-card__title, .menu-card__title {
  font-size: 18px;
}

.section-title {
  font-size: 24px;
}

.restaurant__title {
  font-size: 28px;
}

.reservation__subtitle, .restaurant-card__subtitle, .menu-card__header, .menu-card__subtitle {
  font-weight: 300;
}

.restaurant__title {
  font-weight: 400;
}

.search-bar__txt, .button, .fonctionnement-choice__number, .fonctionnement-choice__txt, footer li, .menu-card__title {
  font-weight: 500;
}

.section-title, .restaurant-card__title, .menu-card__price {
  font-weight: 700;
}

/***** Marges ****/
.section-restaurant-title {
  margin-bottom: 8px;
}

.button {
  position: relative;
  align-self: center;
  padding: 13px 18.75px;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, rgb(255, 121, 218), rgb(147, 86, 220));
  color: rgb(255, 255, 255);
  transition: transform 250ms;
  z-index: 1;
}
.button:hover::after {
  opacity: 0.2;
}
.button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.55);
  border-radius: 25px;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
.button--command {
  padding: 16px 49px;
}

.fonctionnement-choice {
  position: relative;
  display: flex;
  align-items: center;
  padding: 28px 35px 28px 35px;
  margin-left: 12px;
  gap: 23px;
  border-radius: 20px;
  background-color: rgb(246, 246, 246);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.fonctionnement-choice__number {
  position: absolute;
  left: -12px;
  border-radius: 30px;
  padding: 5px 8px 4px;
  color: white;
  background-color: rgb(147, 86, 220);
}
.fonctionnement-choice__icon {
  font-size: 16px;
}
.fonctionnement-choice__icon--inactive {
  color: rgb(126, 126, 126);
}
.fonctionnement-choice__icon--selected {
  color: rgb(147, 86, 220);
}
.restaurant-card {
  border-radius: 15px;
  background-color: white;
}
.restaurant-card__img {
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 167px;
}
.restaurant-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 25px 18px 13px;
}
.restaurant-card__txt {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu-card__header {
  border-bottom: 3px solid rgb(153, 226, 208);
  padding-bottom: 5px;
  width: 40px;
}
.menu-card__choice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.menu-card__anim {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20%;
  height: 67.5px;
  background-color: rgb(153, 226, 208);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transform: scalex(0);
}
.menu-card__icon {
  color: white;
  width: 100%;
}
.menu-card__txt {
  display: flex;
  flex-direction: column;
  width: 85%;
  gap: 5px;
  padding: 12px 0 12px 15px;
  overflow: hidden;
}
.menu-card__title, .menu-card .menu-card__subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-card__price {
  width: 15%;
  padding: 12px 15px 12px 5px;
  text-align: center;
}

.header, .header--boxshadow {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 0 11px;
}
.header--boxshadow {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header__logo {
  width: 162px;
}
.header__icon {
  position: absolute;
  left: 17px;
  top: 40%;
}

.footer {
  padding: 22px 25px;
  background-color: #353535;
}
.footer__title {
  font-family: "shrikhand";
  font-size: 18px;
  color: white;
}
.footer__list {
  list-style-type: none;
  padding-left: 0;
}
.footer__row {
  display: flex;
  align-items: center;
}
.footer__icon {
  color: white;
}
.footer__txt {
  color: white;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  padding: 15.5px;
  background-color: rgb(234, 234, 234);
}

.reservation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 39px 32px 57px;
  gap: 23px;
  text-align: center;
  background-color: rgb(246, 246, 246);
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 48px 20px 68px;
  gap: 35px;
}
.fonctionnement__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding: 54px 20px 66px 20px;
  gap: 18px;
  background-color: rgb(246, 246, 246);
}

.restaurant__container {
  position: relative;
}
.restaurant__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 275px;
}
.restaurant__menu {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 32px 17px 55px;
  gap: 40px;
  background-color: rgb(246, 246, 246);
  margin-top: -26px;
}
.restaurant__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant__icon {
  font-weight: 300;
}/*# sourceMappingURL=main.css.map */