/**** FONT PROPERTIES *****/
body {
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 320px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: black;
}

.fa-heart {
    font-size: 22px;
}

.fa-utensils {
    font-size: 13px;
    margin-right: 11px;
}

.fa-handshake-angle {
    font-size: 12px;
    margin-right: 7.5px;
}

/**** Typography ****/
h1, h2, h3, p {
    margin: 0;
}

.restaurant__title {
    font-family: 'shrikhand', sans-serif;
}

.fonctionnement-choice__number, .restaurant-card__sticker {
    font-size: 14px;
}

.menu-card__subtitle {
    font-size: 15px;
}

.search-bar__txt, .button, .fonctionnement-choice__txt, footer li, .menu-card__header {
    font-size: 16px;
}

.restaurant-card__subtitle {
    font-size: 17px;
}

.reservation__subtitle, .restaurant-card__title, .menu-card__title {
    font-size: 18px;
}

.section-title {
    font-size: 24px;
}

.restaurant__title {
    font-size: 28px;
}

.reservation__subtitle, .restaurant-card__subtitle, .menu-card__header, .menu-card__subtitle {
    font-weight: 300;
}

.restaurant__title {
    font-weight: 400;
}

.search-bar__txt, .button, .fonctionnement-choice__number, .fonctionnement-choice__txt, footer li, .menu-card__title {
    font-weight: 500;
}

.section-title, .restaurant-card__title, .menu-card__price {
    font-weight: 700;
} 

.reservation__title {
    @media (min-width: 1024px) {
        font-size: 40px;
    }
}
/***** Marges ****/
.section-restaurant-title {
    margin-bottom: 8px;
    max-width: 540px;
}