/* Colors */
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$fourth-color: rgb(35, 35, 35);
$inactive-color: rgb(126, 126, 126);

$main-background: rgb(255, 255, 255);
$second-background: rgb(246, 246, 246);
$third-background: $fourth-color;
$fourth-background: rgb(234, 234, 234);

