.searchbar {
    @include flex-mid;
    gap: 17px;
    padding: 15.5px;
    background-color: $fourth-background;
}

.reservation {
    @include flex-mid;
    flex-direction: column;
    width: 100%;
    padding: 39px 32px 57px;
    gap: 23px;
    text-align: center;
    background-color: $second-background;
    @media (min-width: 1024px) {
        padding: 30px 32px;
    }
}

.fonctionnement {
    @include flex-column;
    width: 100%;
    align-items: center;
    padding: 48px 20px 68px;
    gap: 35px;
    @media (min-width: 768px) {

        
    }  
    @media (min-width: 1024px) {
        width: 80%;
        max-width: 1045px;
        align-self: center;
        padding: 48px 0 68px;

    }  
    &__block {
        @include flex-column;
        width: 100%;
        max-width: 540px; 
        gap: 35px;
        @media (min-width: 1024px) {
            max-width: 1045px;
            
        } 
    }
    &__list {
        @include flex-column;
        width: 100%;
        gap: 25px;
        @media (min-width: 1024px) {
            flex-direction: row;
            justify-content: space-between;
        }  
    }
}

.restaurants {
    @include flex-column;
    align-items: center;
    width: 100%;
    padding: 54px 20px 66px 20px;
    gap: 18px;
    background-color: $second-background;
    @media (min-width: 768px) {
        padding-left: 120px;
        padding-right: 120px;
    }
    @media (min-width: 1024px) {
        flex-direction: row;
        justify-content: center;
    } 
    &__container {
        @include flex-column;
        align-items: flex-start;
        gap: 18px;
        width: 100%;
        max-width: 540px;

        @media (min-width: 1024px) {
            display: flex;
            max-width: 1045px;
        }
    }
    &__block {
        width: 100%;
        @media (min-width: 1024px) {
        display: flex;
        flex-direction: column;
        max-width: 1045px;
        gap: 50px;
        }
    }
    &__column {
        @include flex-column;
        width: 100%;
        max-width: 540px;
        gap: 18px;
        @media (min-width: 1024px) {
            flex-direction: row;
            justify-content: space-between;
            max-width: 1045px;
            gap: 90px;
        }
    }
    &__header {
       // @media (min-width: 1440px) {
          //  width: 1063px;
           // align-self: center;
        //} 
    }
}