.searchbar {
    @include flex-mid;
    gap: 17px;
    padding: 15.5px;
    background-color: $fourth-background;
}

.reservation {
    @include flex-mid;
    flex-direction: column;
    padding: 39px 32px 57px;
    gap: 23px;
    text-align: center;
    background-color: $second-background;
}

.fonctionnement {
    @include flex-column;
    padding: 48px 20px 68px;
    gap: 35px;
    &__list {
        @include flex-column;
        gap: 25px;
    }
}

.restaurants {
    background-color: $second-background;
}