.restaurant {
    &__container {
        position: relative;
    }
    &__img {
        object-fit: cover;
        width: 100%;
        height: 275px;
    }
    &__menu {
        display: flex;
        flex-direction: column;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        padding: 32px 17px 55px;
        gap: 40px;
        background-color: $second-background;
        margin-top: -26px;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__icon {
        font-weight: 300;
    }
}