.restaurant {
    @media (min-width: 1440px) {
        display: flex;
        flex-direction: column;
    }
    &__container {
        position: relative;
        @media (min-width: 1440px) {
            align-self: center;
    }
    }
    &__img {
        object-fit: cover;
        width: 100%;
        height: 275px;
        @media (min-width: 1024px) {
            height: 383px;
        }
    }
    &__menu {
        display: flex;
        flex-direction: column;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        padding: 32px 17px 55px;
        gap: 40px;
        background-color: $second-background;
        margin-top: -40px;
        @media (min-width: 768px) {
            padding-left: 120px;
            padding-right: 120px;
        }
        @media (min-width: 1024px) {
            padding: 51px 210px 40px;
            margin-left: 192px;
            margin-right: 192px;
        }
        @media (min-width: 1440px) {
            width: 1048px;
    }
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (min-width: 768px) {
            position: relative;
            justify-content: center;
        }
        @media (min-width: 1024px) {
            position: relative;
            justify-content: center;
        }
    }
    &__icon {
        font-weight: 300;
    }
}