.menu-card {
    @include flex-column;
    gap: 12px;
    &__header {
        border-bottom: 3px solid $tertiary-color;
        padding-bottom: 5px;
        width: 40px;
    }
    &__container {
        
    }
    &__choice {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding: 12px 15px;
        border-radius: 15px;
        @include menu-shadow;
        background-color: white;
    }
    &__anim {
        @include flex-mid;
        text-align: center;
        width: 20%;
        height: 67.5px;
        background-color: $tertiary-color;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        transform: scalex(0);
    }
    &__icon {
        color: white;
        width: 100%;
    }
    &__txt {
        @include flex-column;
        width: 85%;
        gap: 5px;
        padding: 12px 0 12px 15px;
        overflow: hidden;
    }
    &__title, .menu-card__subtitle{
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__price {
        width: 15%;
        padding: 12px 15px 12px 5px;
        text-align: center;
    }
}

.menu-card {

}